.App {
  text-align: center;
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal-content {
  background-color: #21252d;
  border-radius: 16px !important;
}

.slide {
  width: 1000px;
  /* border: solid red; */
  flex-shrink: 0;
  height: 100%;
  background-color: coral;
}

.slider {
  /* width: 800px; */
  height: 300px;
  display: flex;
  justify-content: center;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
}

.slides > div {
  /* CURRENT way. */
  scroll-snap-align: start;
}


.slider > a {
    display: none;
}

.slides > div:target {
  transform: scale(0.8);
}

.movie-header {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}